$beer-tap-width: 100;
$beer-tap-height: 211;

.beer-inline {
    justify-content: space-around;
}

.beer-tap {
    padding: 30px 0;
}

.beer-tap-pic {
    @include svg-icon('<path d="M87.4797687,9.34422047 C88.2029198,15.7108537 89.3193173,27.1006837 89.9910033,41.4793055 C84.0975859,51.6655135 56.8817685,56.6583156 41.4145169,43.6535249 C29.2700655,33.4369224 17.2272246,35.9130605 9.82812221,39.2564548 C10.4219507,27.8909405 11.5027184,17.6257068 13.0150015,9.34422047 L87.4797687,9.34422047 L87.4797687,9.34422047 Z M16.4222572,113.678558 C29.3532014,136.304742 23.5033315,167.871342 20.008981,186.733973 C18.42016,195.312814 17.6811735,199.568585 18.2195779,202.531129 C18.6880426,205.108344 19.9324431,211.949248 48.6433885,211.949248 C64.7137058,211.949248 84.0817504,210.270693 85.0793822,202.275123 C85.3960907,199.748053 84.3403957,197.354265 82.7410178,193.730591 C78.0339376,183.053556 67.0098425,158.052059 88.6291567,107.82209 C108.466986,61.7330854 96.4294232,6.00690461 95.9055346,3.65930283 C95.4317914,1.52020082 93.5368189,0 91.3462517,0 L9.57739465,0 C7.58477032,0 5.8112027,1.26551439 5.16063065,3.14729075 C2.43957676,11.0412502 0.611904769,22.4071266 0.126285064,35.2852861 L0.115728113,35.5782415 C-0.778973408,60.4134666 3.40685731,90.9006189 16.4222572,113.678558 L16.4222572,113.678558 Z"></path>', $width: $beer-tap-width, $height: $beer-tap-height, $color: $color-light-secondary);

    background-size: cover;
    width: $beer-tap-width + px;
    height: $beer-tap-height + px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    color: $color-dark-secondary;
    font-size: 32px;
    letter-spacing: -3px;

    padding: 0; /* reset */
    padding-top: 65px;
    padding-bottom: calc(100% * 1 / 4);
}

.beer-tap-name {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: $color-light-secondary;
    letter-spacing: 1px;
}