$button-border-width: 1px;
$button-height: 40px;
$button-line-height: $button-height - $button-border-width;

$button-types: ('primary','secondary');

@mixin button($background-color, $border-color, $color) {
    background-color: $background-color;
    border: $button-border-width solid $border-color;
    color: $color;
}

@mixin button-hover($background-color, $border-color, $color) {
    &:hover {
        background-color: $background-color;
        border: $button-border-width solid $border-color;
        color: $color;
    }
}

%button {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    min-width: 150px;
    height: $button-height;
    padding: 0 20px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: $button-line-height;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 9999px;
    transition: all 175ms linear;
    outline: 0;

    &.button--primary {
        @include button($color-dark-tertiary, $color-dark-tertiary, $color-light-primary);
        @include button-hover($color-light-tertiary-darker, $color-light-tertiary-darker, $color-light-primary);
        margin: 0 0 0 auto;
    }

    &.button--secondary {
        @include button($color-light-primary, $color-light-tertiary-darker, $color-light-tertiary-darker);
        @include button-hover($color-light-primary, $color-dark-tertiary, $color-dark-tertiary);
    }

    &.disabled,
    &:disabled {
        /*@include button($disabled-color, $disabled-color, $color-light-primary);
        @include button-hover($disabled-color, $disabled-color, $color-light-primary);*/
        cursor: initial;

        &:focus {
            outline: 0;
        }
    }

    @include media-breakpoint-down($breakpoint-medium) {
        min-width: 100px;
    }

}

@each $type in $button-types {
    .button--#{$type} {
        @extend %button;
    }
}

.button-small {
    height: $button-height - 5px;
    line-height: $button-line-height - 5px;
}

.button--icon {
    display: inline-block;
    min-width: 20px;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    text-align: center;
    transition: all 175ms linear;
    outline: 0;
    vertical-align: top;
    background: transparent;

    .dibsvg-svg {
        width: 18px;
        height: 18px;
        fill: $color-dark-tertiary;
    }
}