:local {
    .list {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        display: flex;
        flex: 100%;
        padding: 20px 40px;
        align-items: center;
        border-bottom: 5px solid #182737;
    }

    .photo {
        width: 120px;
        border-radius: 50%;
        border: 5px solid white;
        margin-right: 20px;
        box-shadow: 0 0 25px #182737;
        overflow: hidden;
    }

    .userName {
        flex: 1;
    }

    .userName,
    .volume {
        font-size: 30px;
        margin-right: 30px;
    }

    .label {
        width: 120px;
        margin-right: 20px;
    }

    .date {
        font-size: 0.5em;
    }
}
