:local {
    .list {
        display: flex;
        justify-content: space-around;
    }

    .tap {
        display: flex;
        align-items: center;
    }

    .tapContent {
        margin: 0 20px;
    }

    .label {
        width: 350px;
    }

    .volumeMeter {
        position: relative;
        margin: 0 auto 20px;
        height: 600px;
        width: 50px;
        background: #F2BD68;
    }

    .volumeLeft {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
    }

    .volume {
        color: white;
        font-size: 40px;
    }
}
